.card{
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
}

ul, li{
    list-style-type: none;
}

.picBox{
    display:inline;
    float:right;
}


.donutPic{
    height:15em;
    width:15em;
    border:.1em solid #f2f2f2;
}

button{
    margin-top:5em;
}