<head th:fragment="head-style">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="../../css/standard.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<div th:fragment="body-links">
<script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
</div>