<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/styling :: head-style">
</head>
<body>

	
<div class="container">
        <br>
        <h1>Enter New Hire</h1>
        <form action="#" th:action="@{/user/newUser}" th:object="${user}" th:method="post">
        
                        	<input type="hidden" th:field="*{id}" />
                            
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name..." th:field="*{firstName}" />
                            </div>
                            
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name..." th:field="*{lastName}" />
                            </div>
                        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Address..." th:field="*{address}" />
                            </div>
                            
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Age..." th:field="*{age}" />
                            </div>
                            
                       
        
        
        <button class="btn btn-primary">Create User</button>
        <a class= "btn btn-primary" th:href="@{/}">Home</a>
        </form>
</div>
	














<div th:replace="fragments/styling :: body-links">
</div>
</body>

</html>




