/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.css';

body{
    background-image: url('/assets/donutshoppe.png');

}

.container-fluid{
    margin-top:2em;
}
.jumbotron{

    background:rgba(242,242,242,.8);
}

h1{
    color:black;
}
